body {
    margin:0;
    padding:0;
  }
  .grid-container {
    display:grid;
    grid-template-columns: calc(20% - 1.6px) calc(20% - 1.6px) calc(20% - 1.6px) calc(20% - 1.6px) calc(20% - 1.6px);
    grid-gap: 2px;
    background-color:#F2C2D8;
  }
  
  .grid-item {
    color:blue;
    background-color:#F9F5EF;
    min-height: 20vw;
    overflow:hidden;
    display:flex;
  }
  .grid-item__link {
      display: flex;
      width: 100%;
      position: relative;
  }
  .grid-item__link__img {
    object-fit:cover;
    min-width: 100%;
    min-height: 100%;
    width:100%;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    transition: all .3s ease;
    position: absolute;
    top:50%; left:50%;
  }

  .grid-item__link__img--effect {
    object-fit:cover;
    min-width: 100%;
    min-height: 100%;
    width:100%;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    transition: all .3s ease;
    position: absolute;
    top:50%; left:50%;
    z-index: 2;
  }

  .grid-item__link:hover .grid-item__link__img--effect {
    opacity: 0;
    transition: all .3s ease;
  }

  .grid-item__link:hover .grid-item--1::after {
    opacity: 0;
    transition: all .3s ease;
  }
  
  .grid-item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
  }
  
  .grid-item--3 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  
  .grid-item--10 {
    grid-column-start: 3;
    grid-column-end: 6;  
    grid-row-start: 4;
    grid-row-end: 5;
    max-height: 12vh;
  }
  
  .grid-item--11 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 7; 
  }
  
  .grid-item--18 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 9;
  }
  .grid-item--23 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 9;
    grid-row-end: 10;
    max-height: 12vh;
  }
  
  .grid-item--32 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 11;
    grid-row-end: 15;
    background-color: #F2C2D8ED;
    padding: 2vw;
  }

  .grid-item--32__list {
    list-style-type: none;
    text-align: center;
    padding:10vw 0;
    margin: 0;
    width: 100%;
    border: 2px dashed #F9F5EF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .grid-item--32__list__social {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .grid-item--32__list__email {
    font-size: 4.5vw;
    font-family: "Krona", sans-serif;
    margin-bottom: 7vw;
  }

  .grid-item--32__list__email__link {
    color: #f96f12;
    transition: .3s all ease;
  }

  .grid-item--32__list__email__link:hover {
    opacity: .5;
    transition: .3s all ease;
  }

  .grid-item--32__list__text {
    margin-bottom: 3vw;
    font-size: 4.5vw;
    font-family: "Coolvetica";
    font-weight: 400;
    color: #F9F5EF;
  }

  .grid-item--32__list__social__link {
    display: block;
  }
  .grid-item--32__list__social__link:hover svg path {
    fill:#F9F5EF;
    transition: .3s ease all;
  }

  .grid-item--32__list__social svg {
    width: 8vw;
    height: auto;
  }
  .grid-item--32__list__social__behance, .grid-item--32__list__social__insta {
    margin-right: 4vw;
  }

  .grid-item--31, .grid-item--33, .grid-item--34, .grid-item--35, .grid-item--36, .grid-item--37, .grid-item--38, .grid-item--39, .grid-item--40 {
    display: none;
  }

  @media (min-width: 720px) {
    .grid-item--10, .grid-item--23 {
      max-height: 20vh;
    }
    .grid-item--31, .grid-item--33, .grid-item--34, .grid-item--35, .grid-item--36, .grid-item--37, .grid-item--38, .grid-item--39, .grid-item--40 {
      display: block;
    }
    .grid-item--32 {
      grid-column-start: 2;
      grid-column-end: 5;
      grid-row-start: 11;
      grid-row-end: 13;
      padding: 2vw;
    }
    .grid-item--32__list {
      padding:0;
    }
    .grid-item--32__list__email {
      font-size: 2.5vw;
      margin-bottom: 4vw;
    }
    .grid-item--32__list__text {
      margin-bottom: 2vw;
      font-size: 2.5vw;
    }
    .grid-item--32__list__social svg {
      width: 4vw;
    }
    .grid-item--32__list__social__behance, .grid-item--32__list__social__insta {
      margin-right: 2vw;
    }
  }







