* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color:#F9F5EF;
    cursor: crosshair;}


header {
    background-color: #F9F5EF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.header__link-images {
    padding: 8px;
}

.header__link-images__clementine {
    height: 32px;
    width: auto;

}


.header__nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-inline-start: 0;
}

.header__nav li {
    list-style: none;
}

.header__nav__link {
    display: flex;
    padding: 8px;
}

.header__nav__link__svg {
    width: 24px;
    height: auto;
}

.header__nav__link__text {
    display: none;
}

/******** BTNS ********/
.btn--circle-chevron {
    margin-top: 80px;
    display: flex;
    align-items: center;
    position: relative;
    float: right;
}
.btn--circle-chevron__circle {
    content: "";
    display: block;
    width: 50px;
    height:50px;
    border-radius: 100%;
    background-color: #F96F12;
    margin-right: 14px;
}
.btn--circle-chevron__chevron { 
    transform: rotate(90deg);
}

.btn--circle-chevron:hover .btn--circle-chevron__circle {
    animation-duration: 1.25s;
    animation-name: bounce;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-20px);} 
    60% {transform: translateY(-10px);} 
 } 

 .landing {
     width: 100%;

 }

 .block1 {
    width: 100%;
    max-width: 50%;
}

.block2 {
    width: 100%;
    max-width: 100%;
}

 /******** LOGOS ********/
.logo {
    top: 71px;
left: 75px;
width: 173px;
height: 123px;
padding-top: 90px;
padding-left: 75px;
}

 /******** ILLUSTRATIONS ********/
.hero-illustrations
{
    width: 100%;
    height: 100vh;
    background-color: #FFFAEE;

}

.hero-illustrations-center
{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-illustrations-center > img
{
    max-width: 50%;
    margin: 0 auto;
    display: block;
    padding-top: 50px;
}

.hero-illustrations-left
{
    height: 25%;
    width: 25%;
    margin-left: 80px;

}

.hero-illustrations-left > img
{
    position: relative;
    max-width: 35%;
    margin-top: 50px;
}

.hero-illustrations-right
{
    position: absolute;
    height: 20%;
    width: 25vw;
    bottom: 50px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.hero-illustrations-right > img
{
    display: block;
    max-width: 40px;
    padding-bottom: 15px;
    padding-right: 5vw;
}

.illustrations2
{
    height: auto;
    width: 100%;
    display: flex;
}

.illustration2_left
{
    position: relative;
    margin-left: auto;
    height: 50%;
    width: 50%;
}

.illustration2_left > img
{
    position: relative;
    max-width: 100%;
    display: block;
}

.illustration2_right
{
    position: relative;
    margin-left: auto;
    display: block;
    height: 50%;
    width: 50%;
}

.illustration2_right > img
{
    position: relative;
    max-width: 100%;
    display: block;
}

.illustrations3
{
    height: auto;
    width: 100%;
    display: flex;
}

.illustration3_left
{
    position: relative;
    margin-left: auto;
    height: 34%;
    width: 34%;
}

.illustration3_left > img
{
    position: relative;
    max-width: 100%;
    display: block;
}

.illustration3_milieu
{
    position: relative;
    margin-left: auto;
    display: block;
    height: 34%;
    width: 34%;
}

.illustration3_milieu > img
{
    position: relative;
    max-width: 100%;
    display: block;
 
}

.illustration3_right
{
    position: relative;
    margin-left: auto;
    display: block;
    height: 34%;
    width: 34%;
}

.illustration3_right > img
{
    position: relative;
    max-width: 100%;
    display: block;
}


.motion
{
    height: auto;
    width: 100%;
    display: flex;
}

.motion > video
{
    position: relative;
    margin-left: auto;
    display: block;
    height: 100%;
    width: 100%;
}

 /******** PATTERNS ********/
 .patterns svg {
    z-index:-1;
    position: absolute;
 }
 .patterns__circle--donnut {
    top:-50%;
    left: 25%;
    max-width: 630px;
    width: 30vw;
 }

 .patterns__square--donnut {
    top:15%;
    right: -10%;
    max-width: 786px;
    width: 35vw; 
 }