@font-face { font-family: Krona; src: url('../fonts/KronaOne-Regular.ttf'); } 
/* TO DO 
- Rendre les titres responsives
- Voir s'il n'y a pas un moyen d'améliorer le rendu d'espacement entre les lettre (delta entre les maquettes et le dev)
*/
.title--big {
    font-family: "Krona", sans-serif;
    color: #F96F12;
    font-size: 60px;
    letter-spacing: 0.03em;
    margin-block-start: 0;
    margin-bottom: 120px;
}

.title--medium {
    font-family: "Krona";
    font-size: 50px;
    text-align: left;
    color: #f96f12;
    margin-block-start: 0;
    margin-bottom: 0;
}

.title--small {
    font-family: "Coolvetica";
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #f2c2d8;
    margin-block-start: 0;
    margin-bottom: 0;

}

.paragraph--big {
    font-family: "Krona One";
    font-weight: normal;
    font-size: 21px;
    letter-spacing: 0.03em;
    line-height: 27px;
    text-align: left;
    color: #f96f12;
}

.paragraph--default {
    font-family: "Coolvetica";
    font-weight: 300;
    font-size: 25px;
    letter-spacing: 0.03em;
    line-height: 32px;
    text-align: left;
    color: #f96f12;
}